<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="/img/icon.ico">
    <link rel="stylesheet" href="/css/main-rayout.css?after">
    <link rel="stylesheet" href="/css/main-element.css?after">
    <link rel="stylesheet" href="/css/main-board.css?after">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/css/uikit.min.css" />
    <title>Socket.IO chat</title>
  </head>
  <body>
    <div id="sector01">
      <div id="box-top">
        <% if(session) { %>
          <button>Lv.<b id="level"><%= session.level %></b></button>
        <% } else { %>
          <button id="nick_name">개미</button>
        <% } %>
        <button id="button-change">닉네임 변경</button>
        <button id="box-count"></button>
        <% if(session) { %>
          <div id="box-title">안녕하세요 <b id="nick_name"><%= session.nickname %></b>님</div>
          <% } else { %>
            <div id="box-title">안녕하세요 <b>개미</b>님</div>
        <% } %>
      </div>
      <div id="box-msg">
        <ul id="messages">
          <li>채팅방에 오신 것을 환영합니다! (욕설/도배 밴입니다.)</li>
        </ul>
      </div>
      <div id="box-send">
        <form id="form-msg" action="">
          <input id="input-msg" autocomplete="off"/>
          <button id="send-button">Send</button>
        </form>
      </div>
    </div>
    <div id="sector02">
      <div id="bar-top">
        <% if(session) { %>
          <form id="form-logout" class="form-top" action="/auth" method="get">
            <div id="form-comment" style="float: left; margin: 2.5px 10px 5px 0px;">
              안녕하세요 <%= session.nickname %> 님!
            </div>
            <button id="button-logout" type="submit">로그아웃</button>
            <button id="button-mypage" type="button">마이페이지</button>
          </form>

          <form id="form-login" style="display: none;">
            <input id="input-id">
            <input id="input-password"/>
            <button id="button-login"></button>
            <button id="button-create-account"></button>
          </form>
        <% } else { %>
          <form id="form-logout" style="display: none;">
            <div id="form-comment"></div>
            <button id="button-logout"></button>
            <button id="button-mypage"></button>
          </form>
          
          <form id="form-login" class="form-top" action="/auth" method="post">
            아이디 :
            <input id="input-id" name="id" type="text" autocomplete="off">
            비밀번호 :
            <input id="input-password" name="password" type="password" autocomplete="off"/>
            <button id="button-login" type="submit">로그인</button>
            <button id="button-create-account" type="button">회원가입</button>
          </form>
        <% } %>
      </div>
      <header>
        header
      </header>
      <nav>
        nav
      </nav>
      <section>
        <article id="article-board">
          <div id="article-title">
            개발자 게시판
          </div>
          <button id="create-button">글쓰기</button>
          <table id="article-content">
            <tr id="board-top">
              <th id="title" class="align-center">제목</th>
              <th id="author" class="align-center">글쓴이</th>
              <th id="date" class="align-center">날짜</th>
              <th id="views" class="align-center">조회</th>
              <th id="hits" class="align-center">추천</th>
            </tr>
            <% board_list.forEach(article => { %>
              <tr>
                  <!-- <td id="article_id" style="display: none;"><%=article.id%></td>  -->
                  <td id="title" class="align-left"><a id="article_id" href="/article/<%=article.id%>"><%=article.title%></a></td>
                  <td id="author" class="align-left"><%=article.author%></td>
                  <td id="date" class="align-center"><%=article.date%></td>
                  <td id="views" class="align-center"><%=article.view%></td>
                  <td id="hits" class="align-center"><%=article.hits%></td>
              </tr>
            <% }); %>
          </table>
        </article>
        <article id="article-news">
          <div class="uk-height-medium" uk-slideshow="animation: slide; autoplay: true; autoplay-interval: 5000; pause-on-hover: true;">
            <ul class="uk-slideshow-items" id="form-article">
              <% news.forEach(article => { %>
                <article class="uk-article uk-margin-remove">
                  <h1 class="uk-article-title">오늘의 채용 뉴스</h1>
                  <p class="uk-article-meta"><%-article.title%></p>
                  <p class="uk-text-lead" style="color: rgba(255, 255, 255, 0.61);"><%-article.description%></p>
                  <a class="uk-button uk-button-text" href="<%=article.link%>" target="_blank" style="font-weight: 900;">더 읽기</a>
                </article>
              <% }); %>
            </ul>
          </div>
        </article>
        <aside id="aside01">
          aside01 - 광고영역
        </aside>
        <aside id="aside02">
          aside02 - 광고영역
        </aside>
      </section>
      <footer>
        footer
      </footer>
    </div>
  </body>
  <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/js/uikit.min.js"></script>
  <script src="/script/main.js"></script>
</html>